<!DOCTYPE html>
<html>

<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Dashboard</h1>

    <h3>Welcome, {{ user.full_name }}</h3>

    <a href="/interview">
        <button>Start Interview</button>
    </a>

    <br><br>

    <a href="/history">
        <button>View History</button>
    </a>

    <br><br>

    <a href="/logout">
        <button>Logout</button>
    </a>

</div>

</body>

</html>